body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    /* background-color: #051124; */
    background-color: #1d0204;
}

.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(images/slider-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 70%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ol>li {
    margin-top: 12px;
    font-size: large;
}

#player-names>tr>td {
    font-size: larger;
    padding: 10px;

}